/*-----URL FONTS-----*/

:root {
    /*-----COLOR-----*/
    --color-background: RGB(0, 9, 19);
  
    /*-----STYLES-----*/
    --bg-shadow: 4.1px 6.9px 8.2px -10px rgba(0, 0, 0, 0.021),
      6.7px 11.3px 12.9px -10px rgba(0, 0, 0, 0.027),
      9px 15.2px 17.1px -10px rgba(0, 0, 0, 0.031),
      11.3px 19px 20.8px -10px rgba(0, 0, 0, 0.034),
      13.5px 22.7px 24.2px -10px rgba(0, 0, 0, 0.039),
      16px 27px 27px -10px rgba(0, 0, 0, 0.07);
    --btn-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  
    /*----- ANIMATION <if you want to put>-----*/
  }
  
  .navbar a {
    color: #fff;
  }
  .navbar a:hover {
    color: #d753ff;
  }
  .navbar a.active {
    color: #d753ff !important;
  }
  
  #landingHeader {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  #landingHeader video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  #landingHeader .container {
    position: relative;
    z-index: 2;
  }
  
  #landingHeader .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }

    /*-----HERO SECTION-----*/
    img.img1{
        width: 9%;
        object-fit: cover;
    }
    .img-fluid {
       justify-content: center;
        width: 900px;
        height: auto;
        -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);
    }
    .hero {
        background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        z-index: 2;
    }
    
    .hero::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(21, 20, 51, 0.8);
        z-index: -1;
    }
    
    section {
     padding-top: 120px;
     padding-bottom: 120px;
    }
    section#features{
     background-color: var(--color-background);

    }