/*-----URL FONTS-----*/

:root {
  /*-----COLOR-----*/
  --color-background: #fff;

  /*-----STYLES-----*/
  --bg-shadow: 4.1px 6.9px 8.2px -10px rgba(0, 0, 0, 0.021),
    6.7px 11.3px 12.9px -10px rgba(0, 0, 0, 0.027),
    9px 15.2px 17.1px -10px rgba(0, 0, 0, 0.031),
    11.3px 19px 20.8px -10px rgba(0, 0, 0, 0.034),
    13.5px 22.7px 24.2px -10px rgba(0, 0, 0, 0.039),
    16px 27px 27px -10px rgba(0, 0, 0, 0.07);
  --btn-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);

  /*----- ANIMATION <if you want to put>-----*/
}

.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #d753ff;
}
.navbar a.active {
  color: #d753ff !important;
}

#landingHeader {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#landingHeader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#landingHeader .container {
  position: relative;
  z-index: 2;
}

#landingHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}



/*Na Add ko CSS By Matt*/


/*brand css*/


.has-scrollbar{
  display: flex;
  gap: 100px;
  overflow-x: auto;
  padding-block-end: 100px; 
  list-style-type: none;
  padding-top: 30px;
}

.bannerBrand{
  width: 100%;
  height: 160px;
  background: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b-example-divider {
  height: 2rem;
  background-color: rgb(0, 0, 0);
  border: solid rgb(2, 2, 2);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, 0.151), inset 0 .125em .5em rgba(255, 255, 255, 0.61);
}

.sectionabout{
  background: #191919;
  color: floralwhite;
}
=======
/*-----CHAMPION.HTML-----*/
div.g-col-6 {
  width: 60%;
}
h1.title {
  margin: 5px;
  padding: 10px;
}
input.form1{
  width: 50%;
  margin-left: 20px;
}
.form1 {
  margin-left: 10px;
}
.form1:hover {
  box-shadow: var(--btn-shadow);
}
div.card {
  box-shadow: var(--bg-shadow);
}
img.card-img-top {
  width: 100%;
  height: auto;
  padding: 5px;
  border-radius: 1rem;
}
div#champions{
  justify-content: center;
  
}

