/*-----URL FONTS-----*/

:root {
  /*-----COLOR-----*/
  --color-background: #fff;
  /*-----STYLES-----*/

  /*----- ANIMATION <if you want to put>-----*/
}

.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #d753ff;
}
.navbar a.active {
  color: #d753ff !important;
}

#landingHeader {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#landingHeader video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#landingHeader .container {
  position: relative;
  z-index: 2;
}

#landingHeader .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
